@import "tailwindcss";


@theme {
  --color-primary: #0A0A0A;
  --color-secondary: #D4AF37;
  --color-tertiary: #1A1A1A;
  --color-neutral: #F5F5F5;

  --font-heading: "Hanken Grotesk", sans-serif;
  --font-body: "Hanken Grotesk", sans-serif;
  --font-label: "Geist", sans-serif;
}